name: Trigger auto deployment for k-applier

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/k-applier-AutoDeployTrigger-07bdaebb-24e0-4b8b-8549-59020523e64b.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.KAPPLIER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.KAPPLIER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.KAPPLIER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: index.docker.io
          registryUsername: ${{ secrets.KAPPLIER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.KAPPLIER_REGISTRY_PASSWORD }}
          containerAppName: k-applier
          resourceGroup: kangrats-engine
          imageToBuild: index.docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_2FD4CC98B52141C38041F0E46779F217 }}/k-applier:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_



